body {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

tab {
    display: inline-block;
    margin-left: 40px;
}

space {
    display: inline-block;
    margin-left: 20px;
}

.header {
    background-color: #283593;
    display: flex;
    padding-left: 45px;
    padding-right: 45px;
    justify-content: space-between;
    height: 90px;
    align-content: center;
}

.logo {
    color: white;
    text-decoration: none;
}

.logo:hover {
    font-size: 35px;
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.nav a:hover {
    color: #c5cae9;
    font-size: 19px;
}

.nav {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}

.welcome {
    background-color: #C5CAE9;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
}

.welcome-inner h1 {
    font-weight: 500;
    font-size: 50px;
}

.welcome-inner p {
    line-height: 1.6;
    margin-bottom: 40px;
}

.welcome-inner a {
    background-color: #283593;
    border-radius: 8px;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
}

.learn:hover {
    color: #c5cae9;
}

.featured-item h3 {
    color: #283593;
    font-weight: 600;
    margin: 0;
}

.featured-item p {
    margin: 0;
    line-height: 1.6;
    color: #333;
}

.footer {
    background-color: #283593;
    text-align: center;
    padding: 20px 0px;
    color: #999;
}

.icons {
    padding: 15px;

}

.footer-nav {
    color: white;
}

@media all and (min-width:1310px) {

    .features {
        background-color: #E8EAF6;
        margin: 0px;
        padding: 20px 170px;
    }

    .features-inner {
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 35px;
        grid-row-gap: 45px;
    }

    .welcome-inner {
        max-width: 760px;
        padding-bottom: 40px;
    }
}

@media all and (max-width:1309px) and (min-width:1101px) {

    .features {
        background-color: #E8EAF6;
        margin: 0px;
        padding: 20px 120px;
    }

    .features-inner {
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 35px;
        grid-row-gap: 45px;
    }

    .welcome-inner {
        max-width: 760px;
        padding-bottom: 40px;
    }
}

@media all and (max-width:1100px) and (min-width:768px) {

    .features {
        background-color: #E8EAF6;
        margin: 0px;
        padding: 20px 40px;
    }

    .features-inner {
        margin: 0 0px;
        margin-top: 40px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-column-gap: 35px;
        grid-row-gap: 45px;
    }

    .welcome-inner {
        max-width: 660px;
        padding-bottom: 40px;
    }
}

@media all and (max-width:767px) and (min-width:100px) {

    .features {
        background-color: #E8EAF6;
        margin: 0px;
        padding: 20px 40px;
    }
    .features-inner {
        margin: 0 0px;
        margin-top: 40px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr ;
        grid-column-gap: 35px;
        grid-row-gap: 45px;
    }

    .welcome-inner {
        max-width: 450px;
        padding-bottom: 40px;
    }
}